.hiring-progress-table{
  padding: 15px;
  .header{
    position: relative;
  }
  .body{
    border-top: 1px solid #d2d6de;
    .item-row{
      border-bottom: 1px solid #f8f8f8;
      &:last-child{
        border: none;
      }
      &:hover{
        background: #f9f9f9;
      }
    }
  }
  & .row{
    margin: 0px;
  }
  & .part{
    padding: 0px;
  }
  .progress-line-container
  {
    padding: 15px;
  }
  .progress-line{
    padding: 0px;
    list-style: none;
    position: relative;
    width: 100%;
    & .step{
      position: absolute;
      transform: translateX(-50%);
      .line{
        position: absolute;
        height: 3px;
        width: 300px;
        background: #d2d6de;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
      }
      & .circle{
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #d2d6de;
      }
    }
  }
}