.opening-card{
  margin-bottom: 10px;
  .opening-photo{
    position: relative;
    font-weight: bold;
    color: white;
    
    background: #f4f4f4;
    & .company-name{
      position: absolute;
      bottom:5px;
      text-shadow: 1px 1px 2px black, 0 0 1em #9b9b9b, 0 0 0.2em #8e8e8e;
    }
  }
  .company-logo{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    & .photo-preview-container
    {
      width: 20px;
      padding:0px;
      .scaffold-div{
        border-radius: 50%;
      }
    }
  }
  & .job-des .job-des-icon{
    width: 15px;
  }
  & .job-des{
    font-size: 12px;
    color: #838383;
    a{
      color: inherit;
    }
  }
  & .skill-icon img{
    margin-top:-8px!important;
  }
}