// // Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

// Button Color
$blue: #007bff;

// transition
$default-transition: 200ms ease all;

// Skills Icon background colors
$php: #4766cc;
$ruby: #ead57d;
$swift: #fb522a;
$go: #eacfaf;
$java: #e33132;
$csharp: #2d0071;
$javascript: #d6ba32;
$python: #377ef0;
$typescript: #007acc;